@model InfoManagementSystem.Models.existingCustomerModel

@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Customer's Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/site.min.css" />
    <link rel="stylesheet" href="~/Content/tracker.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:600&display=swap" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/style.css" />

</head>

<body>


    <!-- HEADING CONTENT -->
    <div class="top-container">
        <div class="container">
            <div class="row">
                <p class="small text-right" style="color:orangered">
                    <label style="font-family:Arial; color: blue">Today's Date: </label>@DateTime.Now.Month/@DateTime.Now.Day/@DateTime.Now.Year
                </p>
            </div>
        </div>
    </div>
    <!-- /MAIN HEADER -->
    <!-- SCOREBOARD starts -->
    <div class="container" style="padding-top: 50px;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6" style="padding-top: 0px; padding-bottom: 10px;">
                <h2 class="orange-text"><strong>Discount Info</strong></h2>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
            </div>
        </div>
    </div>
    <!-- SCOREBOARD ends -->
    <!-- TRACKER Starts-->
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="table-responsive">
                    <div class="table-top">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <th style="text-align: center;"><strong>Customer ID</strong></th>
                                    <th style="text-align: left;"><strong>First Name</strong></th>
                                    <th style="text-align: center;"><strong>Last Name</strong></th>
                                    <th style="text-align: center;"><strong>FAV PRODUCT</strong></th>
                                    <th style="text-align: center;"><strong>ACTUAL PRICE</strong></th>
                                    <th style="text-align: center;"><strong>DISCOUNT ELIGIBLE</strong></th>
                                    <th style="text-align: center;"><strong>FINAL AMOUNT</strong></th>
                                </tr>
                                @foreach (var item in Model.lstOnlineCustomers)
                                {
                                <tr>
                                    <td style="text-align: left;">@Html.DisplayFor(modelitem => item.custId)</td>
                                    <td style="text-align: center;">@Html.DisplayFor(modelitem => item.firstName)</td>
                                    <td style="text-align: center;">@Html.DisplayFor(modelitem => item.lastName)</td>
                                    <td style="text-align: center;">@Html.DisplayFor(modelitem => item.favProduct)</td>
                                    <td style="text-align: center;">@Html.DisplayFor(modelitem => item.prodPrice)</td>
                                    <td style="text-align: center;">@Html.DisplayFor(modelitem => item.perDiscQualified)%</td>
                                    <td style="text-align: center;">$@Html.DisplayFor(modelitem => item.finalAmt)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row" style="height: 100px;">
        </div>
    </div>

</body>
</html>
