@model InfoManagementSystem.Models.formDataModel

@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Customer's Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/site.min.css" />
    <link rel="stylesheet" href="~/Content/tracker.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:600&display=swap" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/style.css" />

</head>

<body>


    <!-- HEADING CONTENT -->
    <div class="top-container">
        <div class="container">
            <div class="row">
                <p class="small text-right" style="color:orangered">
                <label style="font-family:Arial; color: blue">Today's Date: </label>@DateTime.Now.Month/@DateTime.Now.Day/@DateTime.Now.Year</p>
            </div>
        </div>
    </div>
    <!-- /HEADING CONTENT -->
    <!-- MAIN HEADER -->
    <div class="container-fluid" style="background-color:blanchedalmond">
        <div class="head-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                        <div align="center">
                            <div class="scoreboard">
                                <div class="row" style="padding-bottom: 10px;">
                                    <p class="orange-text"><strong>TOTAL CUSTOMER</strong></p>
                                    <div class="participant oswald">
                                        @Model.lstformData.Count
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6">
                        <div align="center">
                            <div class="scoreboard">
                                <div class="row" style="padding-bottom: 10px;">
                                    <p class="orange-text"><label style="color:blue">United States:</label><strong>&nbsp;@Model.countUS</strong></p>
                                    <p class="orange-text"><label style="color:blue">Germany:</label><strong>&nbsp;@Model.countDE</strong></p>
                                    <p class="orange-text"><label style="color:blue">Singapore:</label><strong>&nbsp;@Model.countSG</strong></p>
                                    <div class="participant oswald">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /MAIN HEADER -->
    <!-- SCOREBOARD starts -->
    <div class="container" style="padding-top: 50px;">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6" style="padding-top: 0px; padding-bottom: 10px;">
                <h2 class="orange-text"><strong>Customer's Info</strong></h2>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <a href="https://www.jotform.com/203060722539046" target="_blank">
                    <div class="icon-txt">
                        <p class="orange-text"><strong>Online Form</strong></p>
                    </div>
                </a>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-2">
                <div class="icon-txt">
                    <p class="orange-text"><strong>@Html.ActionLink("Excel", "ExcelFile", "Home")</strong></p>
                    <!--<img src="~/images/excelImage/icon-download.png" class="icon" alt="Download" />-->
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                    <div class="icon-txt">
                        <p class="orange-text"><strong>@Html.ActionLink("Discount", "CheckDiscount", "Home",null, new { target = "_blank" })</strong></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- SCOREBOARD ends -->
    <!-- TRACKER Starts-->
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="table-responsive">
                    <div class="table-top">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <th style="text-align: center;"><strong>Customer ID</strong></th>
                                    <th style="text-align: left;"><strong>First Name</strong></th>
                                    <th style="text-align: center;"><strong>Last Name</strong></th>
                                    <th style="text-align: center;"><strong>Email</strong></th>
                                    <th style="text-align: center;"><strong>Country</strong></th>
                                    <th style="text-align: center;"><strong>Fav Product</strong></th>
                                </tr>
                                @foreach (var item in Model.lstformData)
                                {
                                <tr>
                                    <td style="text-align: left;">@Html.DisplayFor(modelitem => item.custId)</td>
                                    <td style="text-align: center;">@Html.DisplayFor(modelitem => item.firstName)</td>
                                    <td style="text-align: center;">@Html.DisplayFor(modelitem => item.lastName)</td>
                                    <td style="text-align: center;">@Html.DisplayFor(modelitem => item.email)</td>
                                    <td style="text-align: center;">@Html.DisplayFor(modelitem => item.country)</td>
                                    <td style="text-align: center;">@Html.DisplayFor(modelitem => item.favProduct)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row" style="height: 100px;">
        </div>
    </div>

</body>
</html>
